{% extends "base.html" %} {% block title %}Activate{% endblock %}

{% block content %}

<h1 align='center'>Pricing <span class='glyphicon glyphicon-shopping-cart'></span></h1>
<div class="list-group">
    <h3>Basic</h3>
    <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">Free</h4>
      <p class="list-group-item-text">Add up to 5 files</p>
      <p class="list-group-item-text">View or call or update data over the api</p>
      <p class="list-group-item-text">Up to 100 requests (life-time)</p>
      <p class="list-group-item-text">Expires in 14 days</p>
    </a>
    <h3>Premium</h3>
    <a href="#" class="list-group-item">
      <h4 class="list-group-item-heading">$2/month or $15/yr</h4>
        <p class="list-group-item-text">No ads</p>
      <p class="list-group-item-text">Add up to 50 files. More files? contact us with the email below</p>
      <p class="list-group-item-text">View or call and update data over the api</p>
      <p class="list-group-item-text">Up to 10000 requests (monthly)</p>
      <p class="list-group-item-text">Save more than 15% by paying yearly</p>

    </a>
    <h3>Request count</h3>
    <a href="mailto:xandeeservices@gmail.com" class="list-group-item">
      <h4 class="list-group-item-heading">10000 more ($1.5)</h4>
      <h4 class="list-group-item-heading">50000 more ($5)</h4>
      <h4 class="list-group-item-heading">100000 more ($8)</h4>
      <h4 class="list-group-item-heading">500000 more ($25)</h4>
      <h4 class="list-group-item-heading">1000000 more ($40)</h4>
      <h4 class="list-group-item-heading">Custom? message us at xandeeservices@gmail.com</h4>
    </a>
</div>
<br>
<h1 align='center'>How to activate</h1>
<h4 align='center'>Email us <a href='mailto:xandeeservices@gmail.com'>here</a> and we will communicate to you as soon as possible</h4>
{% endblock %}
